.body {
    background-color: #8FBC8F;
}
.header {
    margin: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.port-head {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.contact-head {
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center; 
}
.contact {
    margin: 5px;
    border: inset;
    background-color: grey;
}
.container {
    margin: 20px;
    border: inset;
}
#page-content {
    flex: 1 0 auto;
  }
#sticky-footer {
    flex-shrink: 0;
    position: fixed;
  }