/* I was pointed to this code by a classmate, who found it on mdbootstrap*/
.bg {
    background-image: url("Images/concrete-tunnel-3043424.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* The text color remains relatively difficult to read in its entirety. White was the best option. I will modify later.*/
  p {
     color: rgb(203, 211, 167);
     font-family: 'Times New Roman', Times, serif;
  }

.titles {
    color: antiquewhite;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

.repo-link {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    margin: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: antiquewhite;
}
.port-head {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: antiquewhite;
}
.contact-head {
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: antiquewhite;
}
.contact {
    margin: 5px;
    background-color: transparent;
}
.card {
    background-color: transparent;
}
.container {
    margin: 20px;
}
#page-content {
    flex: 1 0 auto;
    background-color: transparent;
  }
#sticky-footer {
    flex-shrink: 0;
    position: fixed;
    margin-top: 10px;
  }
.foot-style {
    margin-top: 0px;
}