.body, html {
    height: 100%;
  }
.bg {
    /* The image used */
    background-image: url("Images/houses-near-lake-and-mountain-3713709.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  p {
     color: tomato;
  }
.header {
    margin: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.port-head {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.contact-head {
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center; 
}
.contact {
    margin: 5px;
    background-color: transparent;
}
.card {
    background-color: transparent;
}
.container {
    margin: 20px;
}
#page-content {
    flex: 1 0 auto;
    background-color: transparent;
  }
#sticky-footer {
    flex-shrink: 0;
    position: fixed;
  }